body {
    background-image: linear-gradient(to right, #bdb3e6, #26a0da);
  /*  background-color: #222;*/
    
}

td {
    color: black;
    font-weight: 500;
}

#colorwhite {
    color: black;
    font-weight: 500;
    text-align: justify;
}

.container {
    display: flex;
    justify-content: center;
}


.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

    .bn632-hover.bn26 {
        border: 1px solid #fff !important;
        border-radius: 50px; /* Torna as bordas mais arredondadas */
        background-color: transparent; /* Remove a cor de fundo para que o gradiente seja visível na borda */
        background-image: linear-gradient( to right, #25aae1, #4481eb, #04befe, #3f86ed );
        box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
        transition: all 0.3s ease-in-out; /* Adiciona uma transição suave ao passar o mouse */
    }


.bn632-hover {
    
    width: 100vh;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

    .bn632-hover:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;

        transform: scale(1.05); /* Aumenta um pouco o tamanho do botão ao passar o mouse */
        box-shadow: 0 8px 20px 0 rgba(65, 132, 234, 0.75); /* Adiciona um sombreamento mais intenso */
    }

.bn632-hover:focus {
        outline: none;
    }












/** BEGIN: Non Openmrs CSS **/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    font-family: "Roboto";
}

div.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 30px;
    border: 1px solid whitesmoke;
    padding: 21px;
    border-radius: 4px;
}

h4.title {
    text-align: center;
    margin-bottom: 45px;
}

:root {
    --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
    --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
    --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
    --omrs-color-interaction: #1e4bd1;
    --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
    --omrs-color-danger: #b50706;
    --omrs-color-bg-low-contrast: #eff1f2;
    --omrs-color-ink-high-contrast: #121212;
    --omrs-color-bg-high-contrast: #ffffff;
}
/** END: Non Openmrs CSS **/
div.omrs-input-group {
    margin-bottom: 1.5rem;
    position: relative;
    width: 20.4375rem;
}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
    border: none;
    border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
    width: 100%;
    height: 2rem;
    font-size: 1.0625rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 0.825rem;
    padding-bottom: 0.5rem;
}

    .omrs-input-underlined > input:focus,
    .omrs-input-filled > input:focus {
        outline: none;
    }

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
    position: absolute;
    top: 0.9375rem;
    left: 0.875rem;
    line-height: 147.6%;
    color: var(--omrs-color-ink-medium-contrast);
    transition: top .2s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
    position: absolute;
    top: 0.9375rem;
    right: 0.875rem;
    fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
    font-size: 0.9375rem;
    color: var(--omrs-color-ink-medium-contrast);
    letter-spacing: 0.0275rem;
    margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
    background: var(--omrs-color-interaction-minus-two);
    border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
    top: 0;
    font-size: 0.9375rem;
    margin-bottom: 32px;
    ;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
    color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
    border-color: var(--omrs-color-interaction);
}

    .omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
    .omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
        fill: var(--omrs-color-ink-high-contrast);
    }

/** DISABLED **/

.omrs-input-underlined > input:disabled {
    background: var(--omrs-color-bg-low-contrast);
    cursor: not-allowed;
}

    .omrs-input-underlined > input:disabled + .omrs-input-label,
    .omrs-input-underlined > input:disabled ~ .omrs-input-helper {
        color: var(--omrs-color-ink-low-contrast);
    }

    .omrs-input-underlined > input:disabled ~ svg {
        fill: var(--omrs-color-ink-low-contrast);
    }


/** DANGER **/

.omrs-input-underlined.omrs-input-danger > .omrs-input-label, .omrs-input-underlined.omrs-input-danger > .omrs-input-helper,
.omrs-input-filled.omrs-input-danger > .omrs-input-label, .omrs-input-filled.omrs-input-danger > .omrs-input-helper {
    color: var(--omrs-color-danger);
}

.omrs-input-danger > svg {
    fill: var(--omrs-color-danger);
}

.omrs-input-danger > input {
    border-color: var(--omrs-color-danger);
}

.omrs-input-underlined > input {
    background: var(--omrs-color-bg-high-contrast);
}

.omrs-input-filled > input {
    background: var(--omrs-color-bg-low-contrast);
}